
@import "/src/app/shared/shared.scss";

.req{
  background: url(/assets/bg-box-1.png) center center/cover no-repeat;
  border: 2px solid rgba(242, 232, 217, 0.5);
}
.box{
  padding: 1rem;
  max-width: 570px;
  min-height: 204px;

  td:first-child{
    width: 30%;
    text-align: end;
    vertical-align: text-top;
  }
  td:nth-child(2n){
    width: 70%;
    padding-left: 1rem;
    color: $gray-color;
    vertical-align: text-top;
  }
  td{
    height: 3rem;
  }
}
.title{
  margin: 0;
}