@import "/src/app/shared/shared.scss";
.btn-preorder{
  background: url(/assets/button-pre-order.png) center center/cover no-repeat;
  min-width: 307px;
  min-height: 72px;
  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}
.image{
  max-width: 350px;
  max-height: 528px;
  margin-bottom: 5rem;
}
.content{
  padding: 0 1rem;
  max-width: 660px;
  &-price{
    color: $yellow-color;
    font-family: $title-text;
    font-size: 43px;
    &-addition{
      font-size: 23px;
      line-height: 36px;
    }
  }
}
nav{
  ul {
    list-style-type: none;
  }
  li{
    color: $base-color;
    font-family: $base-text;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    &:hover{
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
@media(max-width: 660px) {
  .tabs-divider{
    display: none;
  }
}
.active{
  color: $yellow-color !important;
}