@import "/src/app/shared/shared.scss";

.bonus{
  opacity: 0.8;
  width: 100%;
  margin: 2rem 0;

  &-info:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  &-info-unactive:hover{
    opacity: 1;
    cursor: default;
  }
  &-title{
    position: relative;
    width: 325px;
    text-align: center;
    font-family: $title-text;
    font-style: normal;
    text-transform: uppercase;
    color: $white-color;
    background: url(/assets/bonus-bg.png) center center/cover no-repeat;

    &-reverse{
      transform: scaleX(-1);
      h2, .bonus-info{
        transform: scaleX(-1);
      }
    }
  }

  &-image{
    position: absolute;
    z-index: 1000;
    background-size: 10rem;
  }
  h2{
    margin: 1rem;
    font-weight: 600;
    font-size: 28px;
  }
}

ul {
  padding: 0;
  margin: 0;
  li{
    list-style-image: url(/assets/icons/radiation.png);
    margin-top: 1rem;

    img{
      vertical-align: middle;
    }
  }

  .bonus-info{
    width: 1rem;
    text-align: center;
    margin: 0 10px;
  }
}
.list{
  margin: 1rem;
}
.unactive{
  color: $dark-color;
  list-style-image: url(/assets/icons/radiation-gray.png) !important;
}

@media(max-width: 660px) {
  .bonus {
    display: none !important;
  }
}