<ng-container *ngIf="preorderBonus">
  <div fxLayout="row" fxLayoutAlign="center center" class="bonus">
    <div class="bonus-title">
      <h2>+preorder</h2>
    </div>
    <div class="bonus-image"></div>
    <div class="bonus-title bonus-title-reverse" fxLayout="row-reverse" fxLayoutAlign="center center">
      <h2>bonus</h2><img class="bonus-info" src="/assets/icons/info.png" alt="info">
    </div>
  </div>
  <div *ngIf="!isMobileView && preorderList && bonusList" class="list" fxLayout="row"
    fxLayoutAlign="space-between start">
    <ng-container *ngTemplateOutlet="ItemList; context:{$implicit: preorderList | activitySort}"></ng-container>
    <ng-container *ngTemplateOutlet="ItemList; context:{$implicit: bonusList | activitySort}"></ng-container>
  </div>
  <div *ngIf="isMobileView && fullList" class="list" fxLayout="column" fxLayoutAlign="space-between start">
    <ng-container *ngTemplateOutlet="ItemList; context:{$implicit: fullList | activitySort}"></ng-container>
  </div>

  <ng-template #ItemList let-list>
    <ul *ngIf="list">
      <li *ngFor="let item of list" [ngClass]="{'unactive': !item.isActive}">{{item.title}}<img *ngIf="item.hasInfo"
          class="bonus-info" src="/assets/icons/{{!item.isActive ? 'info-gray' : 'info' }}.png" alt="info">
      </li>
    </ul>
  </ng-template>