$yellow-color: #EE991A;
$base-color: #F2E8D9;
$white-color: #FFFFFF;
$dark-color: #333333;
$gray-color: #A2A2A2;

$title-text: "Oswald";
$base-text: "Rubik";

.wrapper{
  max-width: 1920px;
  min-height: 830px;
  margin: 0 0 2rem 0;
}