@import "/src/app/shared/shared.scss";
.wrapper{
  margin: 20px;
}
.header{
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.req{
  background: url(/assets/bg-box-1.png) center center/cover no-repeat;
  border: 2px solid rgba(242, 232, 217, 0.5);
}
.box{
  padding: 1rem;

  td:first-child{
    width: 30%;
    text-align: end;
    vertical-align: text-top;
  }
  td:nth-child(2n){
    width: 70%;
    padding-left: 1rem;
    color: $gray-color;
    vertical-align: text-top;
  }
  td{
    height: 3rem;
  }
}
.box{
  background: url(/assets/bg-box-1.png) center center/cover no-repeat;
  border: 2px solid rgba(242, 232, 217, 0.5);
  max-width: 570px;
  min-height: 200px;
  margin: 0;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: end;
    p{
      max-width: 222px;
      margin: 0;
    }
  }
  &-lang{
    padding: 2rem;
  }
  &-gameplay{
    padding: 1rem;
    img{
      margin: 0 1rem;
    }
  }
}
.title{
  margin: 0.5rem 0;
  padding-left: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  &-sub{
    margin: 0 0 10px 0 !important;
    padding: 0;
  }
}
@media(max-width: 530px) {
  .header{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -1px;

    &-line{
      width: 80%
    }
  }
}