<div class="wrapper" *ngIf="totalRequirements.length">
  <h1 class="header">SYSTEM REQUIREMENTS</h1>

  <div fxLayout="row wrap" fxLayoutAlign="space-around space-evenly" fxLayoutGap="2rem" fxLayoutGap.lt-sm="0">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2rem" fxLayoutGap.lt-sm="0">
      <app-requirements-table *ngFor="let requirements of totalRequirements" [requirements]="requirements">
      </app-requirements-table>
    </div>
    <div fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="2rem">
      <div>
        <h3 class="title">GAMEPLAY:</h3>
        <ul class="box box-gameplay" fxLayout="row wrap" fxLayoutAlign="start space-evenly" fxLayoutGap="2rem">
          <li><img src="/assets/icons/palyer-icon.png" alt="player-icon">Singleplayer</li>
          <li><img src="/assets/icons/controlleer-icon.png" alt="player-icon">Full Controller Support</li>
          <li><img src="/assets/icons/users-icon.png" alt="users-icon">Multiplayer (coming soon after the release, as a
            free update)</li>
          <li>RATING:<img src="/assets/icons/18age.png" alt="18age"></li>
        </ul>
      </div>
      <div>
        <h3 class="title">localization:</h3>
        <div class="box box-lang">
          <ul fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2rem">
            <h3 class="title title-sub">VOICE & SUBTITLES:</h3>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="2rem" fxLayout.lt-sm="column"
              fxLayoutAlign.lt-sm="start start">
              <li *ngFor="let lang of voiseSubLang">
                <img src="/assets/languages/{{lang}}.png" alt="lang">
              </li>
            </div>
            <h3 class="title title-sub">SUBTITLES only:</h3>
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem">
              <div *ngFor="let langs of subLang" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="1rem">
                <li *ngFor="let lang of langs">
                  <img src="/assets/languages/{{lang}}.png" alt="lang">
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>