@import "/src/app/shared/shared.scss";
.wrapper{
  margin: 20px;
}
.header{
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 80px;

  text-align: center;
  text-transform: uppercase;
}